.title1 {
  text-align: center;
}

.article1 {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.img {
  width: 250px;
  height: auto;
}

.imagen1, .imagen2 {
  float: left;
  margin-right: 50px;
}
